<h2> What's on </h2>
<div class="row">
  <div class="span6 offset3">
    <% @events.each do |event| %>
      <p>
        <b><%= event.title.upcase %></b> <%= event.start.strftime("- %d %^b %l:%M%P") unless event.start == nil %>
        <br/>      
        <%= event.description %>      
        <br/>
        <%= event.city %> 
        <% unless current_user == nil %>            
            <%= link_to 'Like', likes_event_path(event) %> -
            <%= event.likes.count unless event.likes.count == 0 %> likes
        <% end %>
        <br/>
        <%= link_to 'Show', event %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <br/>
      </p>
    <% end %>
    <br/><br/>
    <%= link_to 'New Event', new_event_path %>
  </div>
</div>
